* {
    /*box-sizing: border-box;*/
    font-family: 'Courier New', Courier, monospace
}

legend {
    margin-bottom: 1 rem;
}
/* 
input {
    display: block;
    margin-bottom: 2rem;
}

form {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid darkslategrey;
}

fieldset,
legend {
    margin-bottom: 1rem;
}
fieldset input:last-of-type {
    margin-bottom: 0;
}

legend {
    font-size: 1.5rem;
}

/*.inline input {
    display: inline
}*/
/* 
button[type="submit"] {
    background-color: darkslategray;
    border: none;
    padding: 0.5rem 1 rem;
    border-radius: 4px; */
/* } */ 

form {
    width: 400px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid mediumseagreen;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;    
}

input[type="submit"] {
    background-color: mediumaquamarine;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

